/**
 * @Author: Yong Yang
 * @Date:   03-27-2019 10:41:05
 * @Email:  yyang@wtamu.edu
 * @Last modified by:   Yong Yang
 * @Last modified time: 03-29-2019 10:52:01
 */


/* Extra x-small devices (portrait phones, less than 576px) */
@media (max-width: 379.98px) {
    .display-1 {
      font-size: 3.5rem;
    }
    .long-title {
      font-size: 1.5rem;
    }
  }

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 380px) and (max-width: 575.98px) {
  .display-1 {
    font-size: 3.5rem;
  }
  .long-title {
    font-size: 1.9rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .display-1 {
    font-size: 5.0rem;
  }
  .long-title {
    font-size: 3rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    font-size: 1.2rem;
  }
  .display-1 {
    font-size: 5.0rem;
  }
  .long-title {
    font-size: 3rem;
  }
  .card-deck .card {
    max-width: 330px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 1.3rem;
  }
  .display-1 {
    font-size: 5.5rem;
  }
  .long-title {
    font-size: 3.5rem;
  }
  .card-deck .card {
    min-width: 330px;
    max-width: 540px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    font-size: 1.5rem;
  }
  
  .long-title {
    font-size: 4.5rem;
  }
  .card-deck .card {
    min-width: 540px;
    max-width: 540px;
  }
}
